.avatar {
    position: absolute;
    width: 20%;
    height: 20%;
    left: 0;
    top: 0;
    background-image: url('../assets/robot.png');
    background-size: 80% 80%;
    background-position: center;
    background-repeat: no-repeat;
}