.btn {
    font-size: 18px;
    padding: 10px 0;
    margin: 3px;
    border: none;
    outline: none;
    width: calc(25% - 6px);
    color: #fff;
    background-color: #01838C;
    border-radius: 3px;

    &--up {
        background-color: #CE0058;
    }

    &--down {
        background-color: #672146;
    }

    &--left {
        background-color: #C95109;
    }

    &--right {
        background-color: #741915;
    }

    &--big {
        width: 60% !important;
    }

    &:hover {
        opacity: .7;
        cursor: pointer;
    }

    @media only screen and (min-width: 600px) {
        margin: 10px;
        padding: 15px 0;
        width: calc(25% - 20px);
    }
}