.number-input {
    font-size: 18px;
    padding: 9px 0 9px 15px;
    outline: none;
    border: 1px solid #797B80;
    border-radius: 3px;
    width: 40px;
    margin: 10px;

    @media only screen and (min-width: 600px) {
        padding: 14px 0 14px 15px;
    }
}