body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  text-align: center;
  margin: 20px auto;
  padding: 0 15px;
  color: #2D333F;

  @media only screen and (min-width: 600px) {
    padding: 0;
    max-width: 600px;
  }
}

h1 {
  font-size: 20px;

  @media only screen and (min-width: 600px) {
    font-size: 32px;
  }
}

.status {
  font-size: 20px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #CE0058;
  border-radius: 3px;
  color: #fff;

  span {
    margin-left: 20px;
  }
  
}

.tabletop-container {
  width: 100%;
  position: relative;

  .tabletop {
    width: 100%;
    line-height: 0;
    
    &__item {
      display: inline-block;
      width: 20%;
      padding-top: 20%;
      background-color: #FFE6E6;

      &:nth-of-type(-2n+5), 
      &:nth-of-type(5) ~ *:nth-of-type(-2n+9), 
      &:nth-of-type(10) ~ *:nth-of-type(-2n+15), 
      &:nth-of-type(15) ~ *:nth-of-type(-2n+19), 
      &:nth-of-type(20) ~ *:nth-of-type(-2n+25) {
          background-color:  #66CCFF;
      }
    }
  }
}

.control-panel {
  margin-top: 30px;
}
